body {
  background-color:#A6192E ;
}

.container {
  background-color: white;
  margin: 40px;
  margin-top: -20px;
  box-shadow: 0px 0px 20px black;
  padding: 30px;
  
}

main {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* 4 equal columns */
  grid-template-rows: 1fr;
  gap: 20px;
  row-gap: 20px;
  margin-bottom: 70px;
}

#lower {
  padding: 20px;
}

#grade-table {
  padding-left: 20px;
}

#grade-table tr{
  padding: 20px;
}

td p {
  margin: 5px;
}

.input-section {
  background-color: #e9eff1;
  /* padding: 20px; */
  width: 85%;
  height: 100%;
}

.histogram {
  background-color: #e9eff1;
  padding: 20px;
}

.stats {
  background-color: #e9eff1;
  padding: 20px;
}

#histogram {
  height: 600px;
}

.bar {
  height: 30px;
  /* line-height: 30px; */
  /* margin-bottom: 5px; */
}

#histogram table {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border: 0px;
}

h2 {
  margin: 0px;
}

.output-section {
  height: 100%;
}



/* The colors of the histogram bars for each letter grade */
.Aplus-bar {
  background-color: #164f24;
}

.A-bar {
  background-color: #0c7606;
}

.Aminus-bar {
  background-color: #0c7606;
}

.Bplus-bar {
  background-color: #0c7606;
}

.B-bar {
  background-color: #08aa2b;
}

.Bminus-bar {
  background-color: #fbb04e;
}

.Cplus-bar {
  background-color: #f69256;
}

.C-bar {
  background-color: #f16c49;
}

.Cminus-bar {
  background-color: #d71920;
}

.D-bar {
  background-color: #a6192e;
}

.F-bar {
  background-color: #8c1d40;
}

/* The error class for the error messages */
.error {
  color: red;
}
